<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="firstPage" method="post">
        <button>continue as a guest</button>

    </form>
    <form></form>

    <form action="login" method="post">
        <button>login</button>



    </form>
    <form action="signup" method="post">
        <button> sign up</button>
    </form>


</body>

</html>