<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <h2>Login:</h2>
    <button onclick="location.href = '/loginAdmin';">Login as adminstrator</button><br>
    <button onclick="location.href = '/loginInstructor';">Login as Instructor</button><br>
    <button onclick="location.href = '/loginTrainee';">Login as Individual Trainee</button><br>
    <button onclick="location.href = '/loginCorp';">Login as Corporate Trainee</button>
</body>

</html>