<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    </form>
    <button onclick="location.href = '/signupAdmin';">sign up as adminstrator</button><br>

    <button onclick="location.href = '/signupInstruc';">sign up as Instructor</button><br>
    <button onclick="location.href = '/signupTrainee';">sign up as Trainee</button>





</body>

</html>