
  
body {
    background-image: linear-gradient(to right, #68dafd , #ebb31a69);
    color: rgb(226, 119, 119);
    padding: 1px;
    font-family:Franklin Gothic Medium;
    text-align: center;
    width: 2000px;
    height: 2000px;
    margin-bottom: 3rem;
    line-height: 500%;
    margin: 5px;

    

    
}
h1 {
    background-color: #4797a0;
  }

  h2{
    top:0px;
    background-color: #4797a0,

    

  }
  .div h2 {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
    font-family: "Quicksand";
  }
  



  .clickme {
    background-color: #f3eaea;
    padding: 8px 30px;
    text-decoration:none;
    font-weight:bold;
    border-radius:4px;
    cursor:pointer;
    }

    .x {
        background-color: #f3eaea;
        padding: 8px 30px;
        margin-bottom: 3rem;

        text-decoration:none;
        font-weight:bold;
        border-radius:4px;
        cursor:pointer;
        text-align: justify;

        
        
    
    }

